.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

app/bin/
app/dist/
app/logs/

app/var/*
!app/var/changes.txt
!app/var/changelog.txt
!app/var/conf/
app/var/conf/*
!app/var/conf/example.json
!app/var/conf/standard.json

*.sh
*.bat
*.service
