.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

bin/
dist/
logs/

var/*
!var/changes.txt
!var/changelog.txt
!var/conf/
var/conf/*
!var/conf/example.json
!var/conf/standard.json

*.sh
*.bat
*.service
